<!-- CAROUSEL BOX START -->
<div class="row-fluid borBox inBox well deep">
  <div class="page-header inverse">
    <h1>Bucketlist
      <small> make some day today</small>
    </h1>
  </div>
  <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <div class="bgimg1">
          <br/>
        </div>
      </div>
      <div class="item">
        <div class="bgimg2">
          <br/>
        </div>
      </div>
      <div class="item">
        <div class="bgimg3">
          <br/>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<!-- CAROUSEL BOX END -->