<!-- CATEGORIES BOX START -->

<div class="row-fluid" id="showcase">
  <div class="span3">
    <div class="borBox well deep">
      <div class="page-header inverse">
        <h1>HTML5
          <small> great use of proper semantics</small>
        </h1>
      </div>
      <div class="feature1"><br/></div>
    </div>
  </div>
  <div class="span3">
    <div class="borBox well deep">
      <div class="page-header inverse">
        <h1>CSS3
          <small> adding aestheics and professionalism</small>
        </h1>
      </div>
      <div class="feature2"><br/></div>
    </div>
  </div>
  <div class="span3">
    <div class="borBox well deep">
      <div class="page-header inverse">
        <h1>jQuery
          <small> dynamism to your work</small>
        </h1>
      </div>
      <div class="feature3"><br/></div>
    </div>
  </div>
  <div class="span3">
    <div class="borBox well deep">
      <div class="page-header inverse">
        <h1>Clean Design
          <small> To Love Me</small>
        </h1>
      </div>
      <div class="feature4"><br/></div>
    </div>
  </div>

</div>
<!-- CATEGORIES BOX END -->