<div class="row-fluid borBox well deep" id="features">
  <div class="page-header inverse">
    <h1>Features
      <small> the work i put in</small>
    </h1>
  </div>
  <div class="row-fluid">
    <div class="span4 borBox">
      <ul class="bigWhiteList">
        <li>CSS3 Transitions</li>
        <li>HTML5</li>
        <li>Responsive and Fluid Layout</li>
        <li>Tested on iPad, iPhone, Android and Desktops and Laptops</li>
        <li>Works Everywhere</li>
        <li>Single Page to Showcase Your Stuff</li>
        <li>Intelligent and Smart Code</li>
      </ul>
    </div>
    <div class="span4 borBox">
      <ul class="bigWhiteList">
        <li>Rock-Solid Reliability</li>
        <li>New Buttons</li>
        <li>New Elements, Extend Bootstrap</li>
        <li>Transparent Navbar, You know you wanted it so bad! :)</li>
        <li>Noise Background</li>
        <li>Immensely Extensible</li>
      </ul>
    </div>
    <div class="span4 borBox">
      <ul class="bigWhiteList">
        <li>Impress Your Clients</li>
        <li>Showcase Your Work</li>
        <li>Make It Elegant</li>
        <li>Use Elegancy!</li>
      </ul>
    </div>
  </div>
</div>