<ul class="social unstyled follow">
  <li class="fb"><a href="#" rel="tooltip">Facebook</a></li>
  <li class="tumblr"><a href="#" rel="tooltip">Tumblr</a></li>
  <li class="pinterest"><a href="#" rel="tooltip">Pinterest</a></li>
  <li class="twitter"><a href="#" rel="tooltip">Twitter</a></li>
</ul>