<div class="row-fluid borBox inBox well deep">
  <ul class="social unstyled links">
    <li class="fb"><a href="#" rel="tooltip">Facebook</a></li>
    <li class="twitter"><a href="#" rel="tooltip">Twitter</a></li>
    <li class="rss"><a href="#" rel="tooltip">RSS</a></li>
    <li class="gplus"><a href="#" rel="tooltip">Google+</a></li>
    <li class="blog"><a href="#" rel="tooltip">Blog</a></li>
    <li class="flickr"><a href="#" rel="tooltip">Flickr</a></li>
  </ul>
</div>