<!DOCTYPE html>
<html>
<meta charset='utf-8'>
<head>
	<title>Home| Elegancy</title>
	<link rel="stylesheet" type='text/css' href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type='text/css' href="css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" type='text/css' href="css/style.css"/>
	<script type='text/javascript' src="js/jquery-1.7.2.min.js"></script>
	<script type='text/javascript' src="js/bootstrap.min.js"></script>

</head>
<body>

<div class="fronty">
<!-- THE TOP NAVBAR -->
	<div id="topLink"></div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
	      		</a>
				<a class="brand main">ELEGANCY</a>
				<div class="nav-collapse">
	        		<ul class="nav pull-left">

						<li class="smooth"><a href="#topLink" class="smooth">Home</a></li>
						<li><a href="#showcase" class="smooth">Showcase</a></li>
						<li><a href="#features" class="smooth">Features</a></li>
						<li><a href="#newElements" class="smooth">Elements</a></li>
						<li><a href="#contactFooter" class="snooth">Contact</a></li>

					</ul>
					<div class="pull-right">
						<a class="btn btn-info btn-small round2" data-toggle="modal" href="#myModal">
							<i class="icon-white icon-user"></i> Sign In
						</a>
					</div>
	      		</div>

			</div>
		</div>
	</div>
	<!-- SOCIAL MEDIA -->


	<!-- CONTAINER STARTS -->
	<div class="container-fluid pad58">
		<br/><br/>
		<div class="row-fluid">
			<div class="mainlogo">
				<img src="img/mainlogo.png" alt="Elegancy"/>
			</div>
		</div><br/>
		<!-- INTRO BOX -->
		<div class="row-fluid borBox inBox well deep">
			<ul class="social unstyled links">
				<li class="fb"><a href="#" rel="tooltip">Facebook</a></li>
				<li class="twitter"><a href="#" rel="tooltip">Twitter</a></li>
				<li class="rss"><a href="#" rel="tooltip">RSS</a></li>
				<li class="gplus"><a href="#" rel="tooltip">Google+</a></li>
				<li class="blog"><a href="#" rel="tooltip">Blog</a></li>
				<li class="flickr"><a href="#" rel="tooltip">Flickr</a></li>
			</ul>
		</div>
		<div class="row-fluid borBox inBox well deep">
			<ul class="social unstyled follow">
				<li class="fb"><a href="#" rel="tooltip">Facebook</a></li>
				<li class="tumblr"><a href="#" rel="tooltip">Tumblr</a></li>
				<li class="pinterest"><a href="#" rel="tooltip">Pinterest</a></li>
				<li class="twitter"><a href="#" rel="tooltip">Twitter</a></li>
			</ul>
		</div>

		<!-- INTRO BOX END -->
		<!-- CAROUSEL BOX START -->
		<div class="row-fluid borBox inBox well deep">
			<div class="page-header inverse">
				<h1>Showcase
					<small>  everything good</small>
				</h1>
			</div>
			<div id="myCarousel" class="carousel">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<div class="bgimg1">
							<br/>
						</div>
					</div>
				    <div class="item">
				    	<div class="bgimg2">
							<br/>
						</div>
				    </div>
				    <div class="item">
				    	<div class="bgimg3">
							<br/>
						</div>
				    </div>
				</div>
			  	<!-- Carousel nav -->
			  	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
		<!-- CAROUSEL BOX END -->
		<!-- CATEGORIES BOX START -->

		<div class="row-fluid" id="showcase">
			<div class="span3">
				<div class="borBox well deep">
					<div class="page-header inverse">
						<h1>HTML5
							<small>  great use of proper semantics</small>
						</h1>
					</div>
					<div class="feature1"><br/></div>
				</div>
			</div>
			<div class="span3">
				<div class="borBox well deep">
					<div class="page-header inverse">
						<h1>CSS3
							<small>  adding aestheics and professionalism</small>
						</h1>
					</div>
					<div class="feature2"><br/></div>
				</div>
			</div>
			<div class="span3">
				<div class="borBox well deep">
					<div class="page-header inverse">
						<h1>jQuery
							<small>  dynamism to your work</small>
						</h1>
					</div>
					<div class="feature3"><br/></div>
				</div>
			</div>
			<div class="span3">
				<div class="borBox well deep">
					<div class="page-header inverse">
						<h1>Clean Design
							<small>  To Love Me</small>
						</h1>
					</div>
					<div class="feature4"><br/></div>
				</div>
			</div>

		</div>
		<!-- CATEGORIES BOX END -->
		<div class="row-fluid borBox well deep" id="features">
			<div class="page-header inverse">
				<h1>Features
					<small>  the work i put in</small>
				</h1>
			</div>
			<div class="row-fluid">
				<div class="span4 borBox">
					<ul class="bigWhiteList">
						<li>CSS3 Transitions</li>
						<li>HTML5</li>
						<li>Responsive and Fluid Layout</li>
						<li>Tested on iPad, iPhone, Android and Desktops and Laptops</li>
						<li>Works Everywhere</li>
						<li>Single Page to Showcase Your Stuff</li>
						<li>Intelligent and Smart Code</li>
					</ul>
				</div>
				<div class="span4 borBox">
					<ul class="bigWhiteList">
						<li>Rock-Solid Reliability</li>
						<li>New Buttons</li>
						<li>New Elements, Extend Bootstrap</li>
						<li>Transparent Navbar, You know you wanted it so bad! :)</li>
						<li>Noise Background</li>
						<li>Immensely Extensible</li>
					</ul>
				</div>
				<div class="span4 borBox">
					<ul class="bigWhiteList">
						<li>Impress Your Clients</li>
						<li>Showcase Your Work</li>
						<li>Make It Elegant</li>
						<li>Use Elegancy!</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid borBox well deep" id="newElements">
			<div class="page-header inverse">
				<h1>New Styles
					<small>  Many New Styles Ready To Use</small>
				</h1>
			</div>
			<br/>
			<div class="row-fluid">
				<div class="span6 borBox">
					<div class="borBox well"><hr/><br/>Simple Well<br/><br/><hr/></div>
				</div>
				<div class="span6 borBox">
					<div class="borBox well trans"><hr/><br/>Transparent Well<br/><br/><hr/></div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6 borBox">
					<div class="borBox well light"><hr/><br/>Light Well<br/><br/><hr/></div>
				</div>
				<div class="span6 borBox">
					<div class="borBox well deep"><hr/><br/>Deep Well<br/><br/><hr/></div>
				</div>
			</div>
			<br/><br/>
			<div class="row-fluid">
				<div class="borBox">
					<h3 class='inverse'>New Navbar</h3><br/>
					<div class="navbar wid40">
						<div class="navbar-inner">
							<div class="container-fluid">
								<a class="brand">Semi-Transparent Navbar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/><br/>
			<div class="row-fluid buttonExample">
				<div class="span4 borBox">
					<div class="borBox well light">
						<div class="page-header inverse">
							<h1>Less Rounded Buttons</h1>
						</div>
						<button class="btn round2">Button</button>
						<button class="btn btn-primary round2">Button</button>
						<button class="btn btn-info round2">Button</button>
						<button class="btn btn-success round2">Button</button>
						<button class="btn btn-warning round2">Button</button>
						<button class="btn btn-danger round2">Button</button>
						<button class="btn btn-inverse round2">Button</button>
					</div>
				</div>
				<div class="span4 borBox">
					<div class="borBox well light">
						<div class="page-header inverse">
							<h1>Full Rounded Buttons</h1>
						</div>
						<button class="btn roundall">Button</button>
						<button class="btn btn-primary roundall">Button</button>
						<button class="btn btn-info roundall">Button</button>
						<button class="btn btn-success roundall">Button</button>
						<button class="btn btn-warning roundall">Button</button>
						<button class="btn btn-danger roundall">Button</button>
						<button class="btn btn-inverse roundall">Button</button>
					</div>
				</div>
				<div class="span4 borBox">
					<div class="borBox well light">
						<div class="page-header inverse">
							<h1>Sharp Buttons</h1>
						</div>
						<button class="btn roundnone">Button</button>
						<button class="btn btn-primary roundnone">Button</button>
						<button class="btn btn-info roundnone">Button</button>
						<button class="btn btn-success roundnone">Button</button>
						<button class="btn btn-warning roundnone">Button</button>
						<button class="btn btn-danger roundnone">Button</button>
						<button class="btn btn-inverse roundnone">Button</button>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="borBox well light">
					<div class="page-header inverse">
						<h1>New page-header Element
							<small> Just Add 'inverse' class to any page-header</small>
						</h1>
					</div>

					<h2 class='inverse'>Also, 'inverse' can be added to any text-element to convert it into this style</h2>
				</div>
			</div>
		</div>
		<div class="row-fluid borBox well deep">
			<div class="page-header inverse">
				<h1>Elements
					<small>  A Demo of Awesomeness</small>
				</h1>
			</div>
			<div class="row-fluid">
				<div class="span4 borBox">
					<div class="borBox well light">
						<h2 class="inverse">ProgressBars</h2><br/>
						<div class="progress">
							<div class="bar" style="width: 40%;"></div>
						</div>
						<div class="progress progress-striped">
							<div class="bar" style="width: 60%;"></div>
						</div>
						<div class="progress progress-striped active">
							<div class="bar" style="width: 80%;"></div>
						</div>
					</div>
				</div>
				<div class="span4 borBox">
					<div class="borBox well light">
						<h2 class="inverse">Buttons</h2><br/>
						<button class="btn btn-primary">Primary</button>
						<button class="btn btn-info">Info</button>
						<button class="btn btn-success">Success</button>
						<button class="btn btn-inverse">Inverse</button>
					</div>
				</div>
				<div class="span4 borBox">
					<div class="borBox well light">
						<h2 class="inverse">Other Elements</h2><br/>
						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
							<small>Someone famous</small>
						</blockquote>
					</div>
				</div>
			</div>

		</div>

		<div class="row-fluid borBox well deep" id="contactFooter">
			<div class="page-header inverse">
				<h1>Footer</h1>
			</div>
			<h2 class='inverse'>Add Contact Details Here</h2>
		</div>

	</div>

</div>

<div class="bgbox">

</div>


<div class="modal hide fade" id="myModal">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Login Details</h3>
	  </div>
	  <div class="modal-body">
	  	<h2> Animated Modal Here</h2>
	    <form class="form form-vertical">
	    	<input type="text" id="username" placeholder="Enter Username"/>
	    	<br/>
	    	<input type="password" id="password" placeholder="Password"/>
	    	<br/>
	    	<button id="submitButton" class="btn btn-primary round2">Sign In</button>
	    	<button id="regButton" class="btn btn-inverse round2">Register</button>

	    </form>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn">Close</a>
	    <a href="#" class="btn btn-primary">Save changes</a>
	  </div>
	</div>






<script type='text/javascript' src="js/main.js"></script>

</body>
</html>
