<%= render @experiences %>

<!-- INTRO BOX -->
<%= render :partial => 'social_links' %>
<!-- INTRO BOX END -->

<div class="row-fluid borBox well deep" id="contactFooter">
  <%= render :partial => 'follow_links' %>
</div>

