<div class="row-fluid borBox well deep">
  <div class="span4">
    <%= image_tag experience.image, :class => 'span4' %>
  </div>
  <div class="span8">
    <div class="page-header inverse">
      <h2><%= experience.title %></h2>
    </div>
    <div>
      <%= experience.description %>
    </div>
  </div>
</div>
