/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-responsive
 *= require style
 *= require bootstrap-wysihtml5
*/

.vote {
  padding-top: 44px;
  text-align: center;
  .upvote {
    text-indent: -1000px;
    height: 40px;
    background-image: image-url("up.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .downvote {
    text-indent: -1000px;
    height: 40px;
    background-image: image-url("down.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .count {
    display: block;
    font-weight: bold;
    font-size: 240%;
  }
}
span.upvote {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background-image: image-url("up.png");
  background-repeat: no-repeat;
  background-position: center;
}
